<style>
  .title{
    font-size: 2.2em;
    font-weight: bold;
  }
</style>
<div class="container">
  <div class="row" style="margin-bottom: 50px;">
    <app-search></app-search>
    <app-ligue-accueil></app-ligue-accueil>
  </div>
  <p class="title" >Aujourd'hui</p>
  <div >
    <div style="width: 33%; display: inline-block; margin-top: 10px;"><app-match-result></app-match-result></div>
    <div style="width: 33%; display: inline-block; margin-top: 10px;"><app-match-result></app-match-result></div>
    <div style="width: 33%; display: inline-block; margin-top: 10px;"><app-match-result></app-match-result></div>
    <div style="width: 33%; display: inline-block; margin-top: 30px;"><app-match-result></app-match-result></div>
    <div style="width: 33%; display: inline-block; margin-top: 30px;"><app-match-result></app-match-result></div>
    <div style="width: 33%; display: inline-block; margin-top: 30px;"><app-match-result></app-match-result></div>
    <div style="width: 33%; display: inline-block; margin-top: 30px;"><app-match-result></app-match-result></div>
    <div style="width: 33%; display: inline-block; margin-top: 30px;"><app-match-result></app-match-result></div>
    <div style="width: 33%; display: inline-block; margin-top: 30px;"><app-match-result></app-match-result></div>
    <div style="width: 33%; display: inline-block; margin-top: 30px;"><app-match-result></app-match-result></div>
    <div style="width: 33%; display: inline-block; margin-top: 30px;"><app-match-result></app-match-result></div>
    <div style="width: 33%; display: inline-block; margin-top: 30px;"><app-match-result></app-match-result></div>
    
  </div>
  <br>
  <br>
  <br>
  <br>
  <p class="title" >Ligue</p>
  <br>
  <app-ligue-result></app-ligue-result>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
</div>
