<div class="top-cell" routerLink="/team" [queryParams]="{ id: id , league:league , season:season }">
    <p class="content-top-cell">{{rank}}</p>
    <div class="content-top-cell team-cell">
        <img class="logo" src="{{logo}}" alt="">
        <p class="teamName" >{{name}}</p>
    </div>
    
    <p class="content-top-cell">{{points}}</p>
    <p class="content-top-cell">{{played}}</p>
    <p class="content-top-cell">{{win}}</p>
    <p class="content-top-cell">{{draw}}</p>
    <p class="content-top-cell">{{lose}}</p>
    <p class="content-top-cell">{{for}}</p>
    <p class="content-top-cell">{{against}}</p>
    <p class="content-top-cell">{{goalsDiff}}</p>
</div>
