
  <div class="container">
    <div class="row" style="margin-bottom: 50px;">
      <app-search></app-search>
      <app-ligue-accueil></app-ligue-accueil>
    </div>
    <p class="title" >À Venir ?</p>
        
    <div class="wrapper">
      <a *ngFor="let num of tabInt">
        <div class="teamCell"><app-match-result [data]=responses[num]></app-match-result></div>
      </a>
      <div class="teamCell-right"></div>
    </div>
    <app-ligue-result [ligueID]="61"></app-ligue-result>  
  </div>
  