
<div class="container">
    <div class="row" style="margin-bottom: 50px;">
      <app-search></app-search>
    </div>
      <div class="match-detail-container">
          <div class="myTeam" >
              <img class="myTeam" src="{{ data.response.team.logo }}" alt="" >
              <p class="myTeam">{{data.response.team.name}}</p>
              <p class="myLigue">{{data.response.league.name}}</p>  
          </div>

          <div class="statistique">
            <div class="inner-statistique bg-gray" style="grid-column: 1 / 2; "> - </div>
            <div class="inner-statistique bg-gray" style="grid-column: 2 / 3; "> Domicile</div> 
            <div class="inner-statistique bg-gray" style="grid-column: 3 / 4; "> Exterieur</div>  
            <div class="inner-statistique bg-gray" style="grid-column: 4 / 5; "> Total</div>
            
            <div class="inner-statistique bg-gray" style="grid-column: 1 / 2; ">Match Joué</div>
            <div class="inner-statistique" style="grid-column: 2 / 3; ">{{data.response.fixtures.played.home}}</div> 
            <div class="inner-statistique" style="grid-column: 3 / 4; ">{{data.response.fixtures.played.away}}</div>  
            <div class="inner-statistique " style="grid-column: 4 / 5; ">{{data.response.fixtures.played.total}}</div>    
            
            <div class="inner-statistique bg-gray" style="grid-column: 1 / 2; ">Match Gagné</div>
            <div class="inner-statistique" style="grid-column: 2 / 3; ">{{data.response.fixtures.wins.home}}</div> 
            <div class="inner-statistique" style="grid-column: 3 / 4; ">{{data.response.fixtures.wins.away}}</div>  
            <div class="inner-statistique " style="grid-column: 4 / 5; ">{{data.response.fixtures.wins.total}}</div>  

            <div class="inner-statistique bg-gray" style="grid-column: 1 / 2; ">Match Nul</div>
            <div class="inner-statistique" style="grid-column: 2 / 3; ">{{data.response.fixtures.draws.home}}</div> 
            <div class="inner-statistique" style="grid-column: 3 / 4; ">{{data.response.fixtures.draws.away}}</div>  
            <div class="inner-statistique " style="grid-column: 4 / 5; ">{{data.response.fixtures.draws.total}}</div>  

            <div class="inner-statistique bg-gray" style="grid-column: 1 / 2; ">Match Perdu</div>
            <div class="inner-statistique" style="grid-column: 2 / 3; ">{{data.response.fixtures.loses.home}}</div> 
            <div class="inner-statistique" style="grid-column: 3 / 4; ">{{data.response.fixtures.loses.away}}</div>  
            <div class="inner-statistique" style="grid-column: 4 / 5; ">{{data.response.fixtures.loses.total}}</div>  
        </div>

        <div class="statistique">
            <div class="inner-statistique bg-gray" style="grid-column: 1 / 2; "> - </div>
            <div class="inner-statistique bg-gray" style="grid-column: 2 / 3; "> Domicile</div> 
            <div class="inner-statistique bg-gray" style="grid-column: 3 / 4; "> Exterieur</div>  
            <div class="inner-statistique bg-gray" style="grid-column: 4 / 5; "> Total</div>
            
            <div class="inner-statistique bg-gray" style="grid-column: 1 / 2; ">But Pour</div>
            <div class="inner-statistique" style="grid-column: 2 / 3; ">{{data.response.goals.for.total.home}}</div> 
            <div class="inner-statistique" style="grid-column: 3 / 4; ">{{data.response.goals.for.total.away}}</div>  
            <div class="inner-statistique" style="grid-column: 4 / 5; ">{{data.response.goals.for.total.total}}</div>    
            
            <div class="inner-statistique bg-gray" style="grid-column: 1 / 2; ">But Contre</div>
            <div class="inner-statistique" style="grid-column: 2 / 3; ">{{data.response.goals.against.total.home}}</div> 
            <div class="inner-statistique" style="grid-column: 3 / 4; ">{{data.response.goals.against.total.away}}</div>  
            <div class="inner-statistique" style="grid-column: 4 / 5; ">{{data.response.goals.against.total.total}}</div>  
        </div>

        <div class="statistique">
            <div class="inner-statistique bg-gray" style="grid-column: 1 / 2; "> - </div>
            <div class="inner-statistique bg-gray" style="grid-column: 2 / 3; "> Victoire</div> 
            <div class="inner-statistique bg-gray" style="grid-column: 3 / 4; "> Nul</div>  
            <div class="inner-statistique bg-gray" style="grid-column: 4 / 5; "> Défaite</div>
            
            <div class="inner-statistique bg-gray" style="grid-column: 1 / 2; ">Série</div>
            <div class="inner-statistique" style="grid-column: 2 / 3; ">{{data.response.biggest.streak.wins}}</div> 
            <div class="inner-statistique" style="grid-column: 3 / 4; ">{{data.response.biggest.streak.draws}}</div>  
            <div class="inner-statistique " style="grid-column: 4 / 5; ">{{data.response.biggest.streak.loses}}</div>    
        </div>

        <div class="statistique">
            <div class="inner-statistique bg-gray" style="grid-column: 1 / 2; "> - </div>
            <div class="inner-statistique bg-gray" style="grid-column: 2 / 3; "> Domicile</div> 
            <div class="inner-statistique bg-gray" style="grid-column: 3 / 4; "> Exterieur</div>  
            
            <div class="inner-statistique bg-gray" style="grid-column: 1 / 2; ">Plus Grosse Victoire</div>
            <div class="inner-statistique" style="grid-column: 2 / 3; ">{{data.response.biggest.wins.home}}</div> 
            <div class="inner-statistique" style="grid-column: 3 / 4; ">{{data.response.biggest.wins.away}}</div>  

            <div class="inner-statistique bg-gray" style="grid-column: 1 / 2; ">Plus Grosse Défaite</div>
            <div class="inner-statistique" style="grid-column: 2 / 3; ">{{data.response.biggest.loses.home}}</div> 
            <div class="inner-statistique" style="grid-column: 3 / 4; ">{{data.response.biggest.loses.away}}</div>  
        </div>

        <div class="statistique">
            <div class="inner-statistique bg-gray" style="grid-column: 1 / 2; "> - </div>
            <div class="inner-statistique bg-gray" style="grid-column: 2 / 3; "> Domicile</div> 
            <div class="inner-statistique bg-gray" style="grid-column: 3 / 4; "> Exterieur</div>  
            <div class="inner-statistique bg-gray" style="grid-column: 4 / 5; "> Total</div> 
            
            <div class="inner-statistique bg-gray" style="grid-column: 1 / 2; ">Défense d'Acier</div>
            <div class="inner-statistique" style="grid-column: 2 / 3; ">{{data.response.clean_sheet.home}}</div> 
            <div class="inner-statistique" style="grid-column: 3 / 4; ">{{data.response.clean_sheet.away}}</div>  
            <div class="inner-statistique" style="grid-column: 4 / 5; ">{{data.response.clean_sheet.total}}</div>  
        </div>

      </div>

      <p class="myTeam">Dernière Rencontre</p>
      <div class="wrapper" style="margin-top: 50px;">
        <a *ngFor="let match of matchs.response">
            <div class="teamCell"><app-match-result [data]=match></app-match-result></div>
          </a>
        <div class="teamCell-right"></div>
      </div>

      <app-ligue-result [ligueID]=leagueID></app-ligue-result> 

      <br>
      <br>
</div>