<style>
input {
  margin: 0 auto;
  border-radius: 10px;
  height: auto;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  background-color: black;
  border: solid 2px rgba(255, 255, 255,0.2);
  color: white;
  padding-left: 10px;
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.output-open{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.output {
  position: absolute;
  list-style: none;
  border: solid 1px rgba(255, 255, 255,0.2);
  border-top: 0 !important;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 60%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  z-index: 1;
  padding: 0;
}
.output-content {
  font-size: 1.5em;
  margin: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.output-content:hover{
  background-color: rgba(0, 102, 255, 0.685);
  transition-duration: 0.2s;
}

.logo {
  height: auto;
  display: inline-block;
  max-width: 30px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

hr {
  margin: 0 0;
  opacity: 0.1;
  margin-top: 10px;
}

a {
  color: white;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}

</style>

<div style="position: relative;">
  <input class="output-open" type="text" placeholder="Rechercher" (input)="print($event)" onchange="" > 
  <ul class="output" *ngIf=" statut ">   
    <div *ngFor=" let result of matchResultat ">
      <li class="output-content" routerLink="/team" [queryParams]="{ id: result.id }">
        <div >
          <img src="{{result.logo}}" alt="" class="logo">
          <a> {{result.name}}</a>
        </div>
      </li>
    </div>
</ul>
</div>


