<style>
    input {
        margin: 0 auto;
        border-radius: 10px;
        height: auto;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 40px;
        background-color: black;
        border: solid 2px rgba(255, 255, 255,0.2);
        color: white;
        padding-left: 10px;
        font-size: 1.5em;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    ::placeholder {
        color: white;
    }


    
.output {
  list-style: none;
  width: 100%;
  min-height: 0px;
  border-top: 0 !important;
  color: #767676;
  font-size: .75em;
  transition: min-height 0.2s;
  position: absolute;
  z-index: 5;
}

.output, #search-bar {
  background: #fff;
  border: 1px solid #767676;
}

.prediction-item {
  padding: .5em .75em;
  transition: color 0.2s, background 0.2s;
}

.output:hover .focus {
  background: #fff;
  color: #767676;
}

.prediction-item:hover, .focus,
.output:hover .focus:hover {
  background: #ddd;
  color: #333;
}
</style>

<input type="text" placeholder="Rechercher" (input)="print($event)"> 

<ul class="output" style="display: none;">
    <li>test</li>
</ul>

