<style>
  .select-form{
    margin: 3px 0 0 0;
    padding: 6px; 
    width: 260px; 
    font-size: 3em; 
    background: none;
    -webkit-appearance: none;
  }

</style>

<div class="container">
    <div class="row" style="margin-bottom: 50px;">
      <app-search></app-search>
    </div>
    <app-ligue-result></app-ligue-result>

    <select class="select-form" >
      <option selected>Journée 22</option>
      <option value="1">Journée 22</option>
      <option value="2">Journée 22</option>
      <option value="3">Journée 22</option>
    </select>

</div>