<style>
    .bloc{
        background-color: rgb(63, 63, 63);
        margin-left: 1.5%;
        margin-right: 1.5%;
        padding: 5px;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .logo {
        width: 50px;
        max-height: 50px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 50%;
        border: solid 2px white;
    }
</style>

<div style="margin-left: 30%; margin-right: 30%; margin-top: 40px;">
    <div class="col-md-2 bloc">
        <img class="logo" src="https://media.api-sports.io/football/leagues/61.png" alt="">
    </div>
    <div class="col-md-2 bloc">
        <img class="logo" src="https://media.api-sports.io/football/teams/9244.png" alt="">
    </div>
    <div class="col-md-2 bloc">
        <img class="logo" src="https://media.api-sports.io/football/teams/9244.png" alt="">
    </div>
    <div class="col-md-2 bloc">
        <img class="logo" src="https://media.api-sports.io/football/teams/9244.png" alt="">
    </div>
    <div class="col-md-2 bloc">
        <img class="logo" src="https://media.api-sports.io/football/teams/9244.png" alt="">
    </div>
  </div>