<div class="bloc">
    <div style="grid-column: 1 / 2;" routerLink="/league" [queryParams]="{ id: 61 }">
        <img class="logo" src="https://media.api-sports.io/football/leagues/61.png" alt="">
    </div>
    <div style="grid-column: 2 / 3;" routerLink="/league" [queryParams]="{ id: 39 }">
        <img class="logo" src="https://media.api-sports.io/football/leagues/39.png" alt="">
    </div>
    <div style="grid-column: 3 / 4;" routerLink="/league" [queryParams]="{ id: 135 }">
        <img class="logo" src="https://media.api-sports.io/football/leagues/135.png" alt="">
    </div>
    <div style="grid-column: 4 / 5;" routerLink="/league" [queryParams]="{ id: 140 }">
        <img class="logo" src="https://media.api-sports.io/football/leagues/140.png" alt="">
    </div>
    <div style="grid-column: 5 / 6;" routerLink="/league" [queryParams]="{ id: 78 }">
        <img class="logo" src="https://media.api-sports.io/football/leagues/78.png" alt="">
    </div>
</div>